<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h4></h4>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Produto</th>
							<th>Cliente</th>
							<th>Qtd itens comp.</th>
							<th>Loja</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="type in typeTransition">
							<th	scope="row">{{type.id}}</th>
							<th>{{type.product_name}}</th>
							<th>{{type.client_id}}</th>
							<th>{{type.total}}</th>
							<th>{{type.store_id}}</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>